
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 0 20px;        
}

li {
    list-style-type: none;
}

p{ 
    font-size: 16px;
    line-height: 1.5;
    color: #333;

}
a{
     text-decoration: none;
}
button {
    cursor: pointer;
    border: none;
    outline: none;  
}
section {
    background-color: rgb(245, 245, 245);
}

.container {
    padding: 50px 0;

} 
.row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto; 
    padding: 0 12px;
    display: flex;

}
.click {
    transition: all 300ms ease;
}

.click:hover {
    transform: scale(1.1);
}
.click:active {
    transform: scale(0.8);
}   
.title {
    font-size: 42px;
    line-height: 1;
    text-align: left;
    margin-bottom: 12px;
}  
.blue {
    color: blue !important;
}


/* 
LANDING PAGE
*/

#landing-page {
    min-height: 100vh;
    width: 100%;
    height: 100vh;

}
.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left ; 
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;
}
.header__para {
    font-size: 20px;
    line-height: 2;
    max-width: 200px;
    color: #333;
    margin-top: 20px;
}
.social__list { 
    display: flex;
    margin-top: 16px;

}
.social__link {
    padding: 6px;
    width: 32px;
    height: 32px;
    display: inline-block;
    color: white;
    font-size: 14px;
    margin-right: 12px;
    background-color: #497ef0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
   
}    

.mail__btn {

    width: 70px;
    height: 70px;
    background-color: #497ef0;
    color: white;
    border-radius: 50%;
    display: flex;
    font-size: 32px;
   border: none;
    position: absolute;
    bottom: 32px;
    right: 40px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;           
}
.scroll {
    position: absolute;
    bottom: 20px;       
    left: 50%;
    transform: translateX(-50%); 
      
}   
.scroll__icon {
    width: 20px;
    height: 30px;
    border: 2px solid #497ef0;
    border-radius: 24px;  
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}   

.scroll__icon::after {
    content: '';
    background-color: #497ef0 ;
    width: 4px;
    height: 6px;
    border-radius: 2px;
    position: absolute;
    animation: scroll 1000ms infinite alternate-reverse;

}
@keyframes scroll {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(-3px);
    }
}   

/*

NAVIGATION 
*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
}

#personal-logo {
    display: flex;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    filter:invert(1);

    
}
.nav__link--list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav__link {
    margin: 0 12px;
}

.nav__link--anchor {
    color: white;
   
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    transition: background-color 0.3s ease;
}   
.fa-adjust {
    color: black;
    font-size: 20px;
}

/*
PROJECTS
*/

.section__title {
    font-size: 48px;
    text-align: center;
    margin-bottom: 60px;
}  

.project__img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.poject__wrapper {
    position: relative;
    border-radius: 20px;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
    overflow: hidden;
    
}
.project__wrapper:hover .project__discription {
    opacity: 1;
    transform: translateY(-50%);


}
.project__wrapper:hover .project__img {
    transform: scale(1.07);
    filter:blur(5px);
}   
.project__discription {
    position: absolute;
    top: 50%;
    left: 90%;
    opacity: 0;
    transition: opacity 300ms, transform 450ms ease;
    transform: translateY(-50%);
    color: black;   
    max-width: 550px;

}
.project__wrapper:hover .project__wrapper--bg {
    opacity: 0.7;
}
.project__discription--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1d25;
    border-radius: 10px;
    opacity: 0.7;
}

.project__discription--title {
    font-size: 20px;
    margin-bottom: 10px;
} 
 .project__discription--sub-title {
    margin-top: 8px;
 }

.project__discription--link {
    color: white;
    font-size: 20px;
    margin-right: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.project__discription--para {
    margin: 16px 0;
}